<% provide(:title, "About") %>
<div class="page-header">
  <h1>About</h1>
</div>
<h2 class="lead">Our story</h2>
<p><%= Faker::Lorem.paragraph(10) %></p>
<p><%= Faker::Lorem.paragraph(20) %></p>
<p><%= Faker::Lorem.paragraph(15) %></p>
