<% provide(:title, "Contact") %>
<div class="page-header">
  <h1>Contact</h1>
</div>
<h2 class="lead">Get in touch</h2>
<p class="contact">Email: <a href="mailto:help@ecomapp.com?Subject=Help" target="_blank">help@ecomapp.com</a></p>
<p><%= Faker::Lorem.paragraph(10) %></p>
<p class="contact">Phone: <%= Faker::PhoneNumber.phone_number %></p>
<p><%= Faker::Lorem.paragraph(10) %></p>