<% provide(:title, "Help") %>
<div class="page-header">
  <h1>Help</h1>
</div>
<h2 class="lead">FAQs</h2>
<p><%= Faker::Lorem.paragraph(20) %></p>
<h2 class="lead">Policies</h2>
<p><%= Faker::Lorem.paragraph(20) %></p>