<% provide(:title, @product.title) %>
<div class="page-header">
  <h1>Products#show</h1>
</div>
<p class="lead">Find me in app/views/products/show.html.erb</p>
<p>Title: <%= @product.title %></p>

<p>Description: <%= @product.description %></p>

<p>Price: <%= @product.price %></p>
